.user-details{
    /* text-align: center; */
    border: 1px solid white;
    color: whitesmoke;
}

.user-details th{
    border-bottom: 1px solid white;
}

.user-details td{
    padding: 5px;
}
.profile{
    width: 7%;
}

.first-name{
    width: 7%;
}